<div class="container">

   <h1>Create a Restaurant </h1>
    <br>  
    <%= simple_form_for @restaurant  do |f| %>
        <%= f.error_notification %>

        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :category %>
        <%= f.input :phone_number %>
        <br>
        <%= f.button :submit, class: "btn-primary" %>
    <% end %>
</div>
